<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 box1 ">

    <div class="header"><strong>Create a secure password</strong></div>

    <ul>
    	<li>Password must have atleast 8 characters.</li>
    	<li>It should contain atleast three of the following given elements:</li>
    	<ol>
    		<li>One Uppercase letter.</li>
    		<li>One Lowercase letter.</li>
    		<li>One Special character.</li>
    		<li>One Number.</li>
    	</ol>
    </ul>

    <div class="header"><strong>Password guidelines:</strong></div>

    <p>Consider using a passphrase. A long sentence that has meaning for you includes special characters and is difficult to crack, e.g. 0wls are such lovely creatures! Make your password significantly different each time and make it hard to guess. Don't include personal information or your user name in your password.</p>
          

</div>
